.DS_Store
*.pyc
*.egg-info
dist/
MANIFEST
build/
node_modules
react/js
.npm
.cache
.config
.bash_history
*.zip
.env
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env
backend/.env